<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <!-- 데이터 베이스 Connection : getConnection / disConnection -->
 <configuration>
   <properties resource="db.properties"/>
   <typeAliases>
     <typeAlias type="com.sist.vo.FoodVO" alias="FoodVO"/>
   </typeAliases>
   <environments default="development">
     <environment id="developement">
     <!-- 트랜잭션 사용 : 일괄처리 Commit()/Rollback() -->
       <transactionManager type="JDBC"/>
       <!-- 오라클 정보 전송 -->
       <dataSource type="POOLED">
       <!-- 
              POOLED : DBCP = Connection 미리 생성 => 사용 후 반환 재사용
              UNPOOLED : JDBC = 열기 / 닫기 => 열기 (연결에 시간 많이 소요)
        -->
         <property name="driver" value="${driver}"/>
         <property name="url" value="${url}"/>
         <property name="username" value="${username}"/>
         <property name="password" value="${password}"/>
         <!-- 
              maxActive : 최대한 생성할 수 있는 Connection 개수
                           8
              maxIdle : 사용중인 Connection 갯수
                           8
              maxWait : 반환할 때까지 기다리는 시간
                           10000
          -->
       </dataSource>
     </environment>
   </environments>
   <mappers>
     <mapper resource="com/sist/mapper/food-mapper.xml"/>
   </mappers>
 </configuration>
